.qq {
  margin-left: 500px;
}
.fon {
  width: 100%;
}
body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  

  min-height: 936px;
  min-width: 936px;
  background-color: #f2c140;
}
h1 {
  font-family: "Italianno", cursive;
  text-align: center;
  font-size: 50px;
  letter-spacing: 20px;
  text-transform: uppercase;
}
h2,
h3 {
  font-family: "Gluten", cursive;
}

.man1 {
  position: absolute;
  width: 180px;
  border-radius: 100px;
  height: 180px;

  z-index: 10;
  transition: 1.5s;
}

.man1:hover {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  z-index: 100;
}
.q, .w{

}


.q {
  top: 125px;

  left: 60px;
}
.w {
  top: 330px;
  left: 178px;
}
.e {
  width: 200px;
  height: 190px;
  left: 340px;


  top: 65px;

}
.r {
  width: 190px;
  height: 180px;
  left: 1070px;
 
  top: 165px;
  
}
.y {
  width: 145px;
  height: 150px;
 /* left: 1250px; */
 right: 100px;
  top: 365px;
 
}
.u {
  width: 130px;
  height: 130px;
  /* left: 1290px; */
  right: 83px;
 
  bottom: 560px;
  
}
.i {
  left: 880px;
  top: 60px;
  
}
.image1 {
  height: 100%;
  width: 350px;
  height: 340px;
  border-radius: 280px;
  float: left;
  margin-right: 30px;
}
.member {
  margin: auto;
  width: 80%;
  line-height: 30px;
  height: 390px;
  overflow: hidden;
}
.m {
  float: right;
 margin-top: 30px;
}
.aa {
}
.icon {
  width: 50px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: #f2c140;
  margin-right: 10px;
  margin-bottom: 10px;
}
* {
  scroll-behavior: smooth;
}

.chiziqcha{
  border: none;
  margin-top: 30px;
  border-top: dotted #ecab05 10px;
height: 100px;
  width: 300px;
  margin-bottom: 30px;
 
}
.top{
  position: relative;
  width: 1496px;
  margin: auto;
  
}
.bottom{
background-color: #ffb700;
  text-align: center;
  padding: 30px;
}
.dost{
text-align: center;
}
.tarmoq{
  color: #644d13;
 margin: auto 15px;
}
